# Ignore data files
*.npy
*.json

# Ignore output and log directories
baselines/*/logs/
baselines/*/output/
logs/**
output/**

# Ignore Python bytecode and C extensions
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore build and distribution directories
.Python
MANIFEST
build/
dist/
.eggs/
lib/
lib64/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore PyInstaller files
*.manifest
*.spec

# Ignore installer logs
pip-delete-this-directory.txt
pip-log.txt

# Ignore test and coverage reports
.coverage*
.cache
.hypothesis/
.pytest_cache/
.tox/
.nox/
*.cover
htmlcov/

# Ignore translation files
*.mo
*.pot

# Ignore database and local settings
db.sqlite3*
local_settings.py

# Ignore Flask and Scrapy directories
.webassets-cache
.scrapy
instance/

# Ignore documentation build directories
docs/_build/

# Ignore PyBuilder and Jupyter Notebook files
.ipynb_checkpoints
.pybuilder/
target/

# Ignore IPython and pdm files
.pdm-python
.pdm-build/
.pdm.toml
ipython_config.py
profile_default/

# Ignore PEP 582 and Celery files
__pypackages__/
celerybeat-schedule
celerybeat.pid

# Ignore SageMath and environment directories
*.sage.py
.env
.venv
env/
env.bak/
venv/
venv.bak/
ENV/

# Ignore project settings
.ropeproject
.spyderproject
.spyproject

# Ignore mkdocs and mypy files
.dmypy.json
.mypy_cache/
/site

# Ignore Pyre and pytype files
.pyre/
.pytype/

# Ignore Cython debug symbols
cython_debug/

# Ignore Milvus directories
retrieval/corpus/
retrieval/volumes/

# Ignore environment variable files
.env

# Ignore wandb files
wandb/
**/wandb/
shell/wandb/

# Ignore Jupyter Notebook files
*.ipynb

# Ignore model and data files
model/
*.pem

# Ignore Python related files
develop-eggs/
downloads/
eggs/
parts/
var/

# Ignore virtual environments
env/

# Ignore editor related files
.idea/
.vscode/
*.swp
*.swo

# Ignore retriever files
retriever/

# Ignore model training files
/model_train/*
!/model_train/.gitkeep